{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
  {% if not is_popup %}
    <p>{% trans "Enter a username and a default password (recommend using something like \'dartmouth\'). Using the format \'Firstname.Lastname.YY\' where YY is year (ex. Diana.Salsbury.14)." %}</p>
  {% else %}
    <p>{% trans "Enter a username and a default password (recommend using something like \'dartmouth\').  Using the format \'Firstname.Lastname.YY\' where YY is year (ex. Diana.Salsbury.15)." %}</p>
  {% endif %}
{% endblock %}

{% block after_field_sets %}
<script type="text/javascript">document.getElementById("id_username").focus();</script>
{% endblock %}
