{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block title %}Users{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="row" style="margin-left: 5%; margin-right: 5%;">


  <!-- Well -->
  <div class="well">
    <b>Name: </b>{{ user.firstname }} {{ user.lastname }}<br>
    <b>Year: </b>{{ user.year }}<br>
    <b>Email: </b> {{ user.email }}<br>
    <b>Current Location: </b>{{ user.current_location }}<br>
    <b>Current Job: </b>{{ user.current_job }}<br>
    <b>Major: </b>{{ user.major }}<br>
  </div>
  

</div>

{% endblock %}
