{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block title %}Users{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="row" style="margin-left: 5%; margin-right: 5%;">

  <!-- Default panel contents -->
  <div style="font-size: 24px;" class="panel-heading">
    <center><font color="#BC4946">Alumni Roster</font></center>
    {% if user.is_admin %}
    <div class="row">
      <div class="pull-right" style="margin-right: 10px;">
	<a href="{% url 'admin:cobra_directory_myuser_add' %}">
	  <font style="font-size: 12px; padding-bottom: 10px;">
	    <span class="glyphicon glyphicon-plus"></span>
	    Add New Users
	  </font>
	</a>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Table -->

  <form class="form-inline" role="form" action="/search/" method="get">
    <div class="form-group">
      <input class="form-control" placeholder="Search on firstname, lastname, email" type="text" name="q" style="width: 300px;">
      <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="collapse" data-target="#demo">
      Advanced Search
    </button>
  </form>

<div id="demo" class="collapse" style="margin-top: 10px;">
<form class="form-inline" role="form" action="/search/" method="get">
  <div class="form-group">
    <label class="sr-only" for="Email">Email</label>
    <input type="text" class="form-control" id="Email" placeholder="Enter email" name="email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="Location">Location</label>
    <input type="text" class="form-control" id="Location" placeholder="Enter location" name="location">
  </div>
  <div class="form-group">
    <label class="sr-only" for="Job">Job</label>
    <input type="text" class="form-control" id="Job" placeholder="Enter job" name="job">
  </div>
  <div class="form-group">
    <label class="sr-only" for="Major">Major</label>
    <input type="text" class="form-control" id="Major" placeholder="Enter Major" name="major">
  </div>
  <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
</form>
</div>

  {% if query %}
  Searched by: {{ query }}
  {% endif %}

  <table class="table">
    <thead><bold>
      <tr>
	<th>Name</th>
	<th>Year</th>
	<th>Email</th>
      </tr>
    </thead>
    {% for user in users_list %}
      <tr>
	<td><a href="{% url 'profile' user.id %}">
	    {{ user.firstname }} {{ user.lastname }}
	</a></td>
	<td>{{ user.year }}</td>
	<td>{{ user.email }}</td>
      </tr>
    {% endfor %}
  </table>

</div>

{% endblock %}
